body {
  margin: 0em;
  overflow: hidden;
  background-color: #cfe5e3;
  background-image: url("/style/sea-02-02.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sphere {
  fill: none;
}

.country {
  fill: #162a2d;
  stroke: #cfe5e3;
  stroke-opacity: 0.4;
}

svg {
  margin: 2em auto;
  text-align: center;
  max-width: 50em;
  display: block;
  position: relative;
  width: 100%;
}

h1 {
  font-family: Montserrat;
  font-size: 1.2em;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #162a2d;
  padding: 1em;
  margin: .5em;
  display: inline-block;
}

#buttons a button {
  font-family: Montserrat;
  background-color: #ffffff;
  /* Green */
  border: none;
  color: #ea4e55;
  font-weight: bold;
  font-size: 1em;
  padding: .8em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0em .5em 0em 0em;
}

#buttons {
  display: block;
  justify-content: center;
  text-align: center;
}

#buttons a button.select {
  background-color: #ea4e55;
  color: #ffffff;
}

circle {
  fill: #ffffff;
  opacity: .2;
}

circle:hover {
  fill: yellow;
}

#object {
  display: inline-block;
  width: 8em;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  right: 1em;
  bottom: 5em;
}

div {
  display: inline;
}

.mytooltip {
  position: absolute;
  text-align: center;
  width: 200px;
  height: auto;
  background-color: #EDE3D1;
  border-radius: 10px;
  color: #787777;
  padding: 6px 12px;
  z-index: 3;
}

.mytooltip:after {
  box-sizing: border-box;
  display: inline;
  width: 100%;
  line-height: 1;
  color: #EDE3D1;
  content: "\25BC";
  position: absolute;
  text-align: center;
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
}

.mytooltip span {
  display: block;
  text-align: center;
  width: 200px;
  height: auto;
  margin: 5px auto;
}

#thumbnail {
  width: 200px;
  height: auto;
  margin: 0 auto;
  color: #787777;
  text-align: center;
}

#thumbnail img {
  width: 8em;
}